@tailwind base;
@tailwind components;
@tailwind utilities;

/* .card {
    @apply border shadow w-full sm:w-80 h-96 pb-3 ml-0 sm:ml-5 sm:mt-0 cursor-pointer rounded-lg overflow-hidden relative;
}   
.card:hover .items-card {
    opacity: 0;
}

.card-secondary {
    background: linear-gradient(90deg, #ff372f -5.86%, #FA5AE0 100%);
}

.card:hover .card-secondary{
    opacity: 1;
} */